/* You can add global styles to this file, and also import other style files */

body {
    background-image: url(assets/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body:before {
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: linear-gradient(90deg, #52c4df 30%, #ad55c1 70%);
    opacity: 0.5;
    z-index: -1;
}